---
import RootLayout from "./RootLayout.astro";
---

<RootLayout>
	<div>

	</div>

	<slot />

	<div class="flex">
		<div>
			<a>
				Country Hideaway Nails<br/>
				42032 Coker Rd.<br/>
				Wanette, OK, 74878
			</a>
		</div>

		<div>
			<a href="tel:+15802357999">
				(580) 235-7999
			</a>
			
			<br/>

			<a href="mailto:athenadr71@gmail.com">
				athenadr71@gmail.com
			</a>
		</div>
	</div>
</RootLayout>